set-capistrano-permissions:
  capistrano_dir: /u/apps
  www_user: www-data

git-gc-repos:
  glob:
    - /u/apps/**/.git

notify-if-queue-becomes-large:
  threshold: 1000
  to: your@email.com
  from: your@server.com
  subject: Queue going out of control

monitor-cpu:
  threshold: 90
  interval: 60
  to: your@gmail.com
  from: your@server.com
  subject: CPU usage out of control