backup-mysql:
  max-backups: 10
  # Uncomment to configure encryption:
  #encrypt:
  #  # Your encryption key's email address.
  #  key: backup@yourserver.com
  #  # Email addresses of people to encrypt for.
  #  recipients:
  #    - admin1@yourserver.com
  #    - admin2@yourserver.com

set-capistrano-permissions:
  capistrano_dir: /u/apps
  www_user: www-data

gc-git-repos:
  glob:
    - /u/apps/**/.git

notify-if-queue-becomes-large:
  threshold: 1000
  to: your@email.com
  from: your@server.com
  subject: Queue going out of control

monitor-cpu:
  total_threshold: 90
  per_core_threshold: 10
  interval: 60
  to: your@gmail.com
  from: your@server.com
  subject: CPU usage out of control

check-web-apps:
  to: your@gmail.com
  from: your@server.com
  # The %s is replaced by the web app's domain name.
  subject: Web application %s is down
  web_apps:
    - url: http://app1.com/
      substring: Welcome to App1.com.
      #username: admin
      #password: 123456
    #- url: http://app2.com/
    #- url: http://app3.com/

rails-version-check:
  app_dirs:
    - /u/apps
    #- /home/railsapps
